<!--
    1. Add a button which says 'Display Details'
    2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')
    3. Toggle the displaying of the paragraph with the button created in the first step
    4. Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply incrementing number)
    5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and yellow color (ngClass)
  -->
<div class="container">
  <div class="row">

    <h1 class="pt-3">Practicing Directives</h1>
    <hr>
    <div class="col-md-6">
        <button
          type="button"
          class="btn btn-primary"
          (click)="showDetails()">
            Display Details
        </button>
        <p *ngIf="showPassword">
          Secret Password = tuna
        </p>
      </div>
      <div class="col-md-6 text-end">
        <div
          class="pe-1"
          *ngFor = "let logItem of log"
          [ngStyle] = "{
              backgroundColor: logItem > 4 ? 'blue' : 'black' }"
          [ngClass] = "{ yellow : logItem > 4}">{{ logItem }}</div>
      </div>

  </div>
</div>
